@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

*,
*:after,
*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html{
  scroll-behavior: smooth;
}
 


